$colorRojo: red;
$colorRojo2: #DA0037;
$color_3: #f1f1f1;
$color_4: white;
$colorGris: #444444;
$font-family_1: monospace;
$font-family_2: Arial, Helvetica, sans-serif;
$fondoBlanco: #fff;
$fondoGris: #444444;
$fondoRojo: #DA0037;
$fondoNegro: rgb(18, 18, 18);
$background-color_5: #f1f1f1;
$background-color_6: #dc3545;
